.home-page {
  .header-section {
    text-align: center;
    margin-bottom: 20px;

    .app-name {
      font-size: 3rem;
    }
  }
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

// .teams-list {
//   text-align: left;
//   list-style-type: none;

//   li {
//     margin: 10px;
//   }
// }
