.App {
  padding: 20px;
  text-align: left;
}

.winner-card {
  background-color: #359fb9;
}

.loser-card {
  background-color: #a91409;
}

/* 
.winner-card {
  background-color: #046a56;
}

.loser-card {
  background-color: #6a042a;
}  */
