@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

* {
  /*resetting various browsers' default padding and margin*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none; /*removing the link underline*/
}

body {
  font-family: "Rubik", sans-serif; /*using our own choice of font family*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;

  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: yellow;
}
